server:
  http_port: 8080
  host: "0.0.0.0"
  token_exp_minutes: 1440
  refresh_token_exp_minutes: 2880
  token_secret: "P@$$%Secret6677"
db:
  user: "root"
  pass: "123456"
  host : "postgres"
  port: 5432
  db_name: "heisenflow"
redis:
  host: "0.0.0.0"
  port: "6379"
  pass: "123456"